.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.actions {
  padding-top: 4rem;
  z-index: 100;
}

.actions > * {
  margin: 0 1rem;
}

.logo {
  padding-bottom: 4rem;
}

.logo > img {
  max-width: calc(100vw - 4rem);
}
