.component {
  display: block;
  position: absolute;
  top: -10vh;
  animation: rain linear infinite;
  transform: translate3d(0, 0, 0);
  animation-duration: 4s;
}

@keyframes rain {
  from {
    top: -20%;
  }
  to {
    top: 95%;
  }
}
