.Lamp {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: black;
  transition: all 1s cubic-bezier(0.3, 0.93, 0.56, 0.96);
}

.Lamp.on {
  background-color: lime;
  transition: all 0s;
  box-shadow: 0 0 4px 2px lime;
}
